html,
body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

@media (max-height: 678px) {
  body {
    overflow-y: auto;
  }
}

@media (min-height: 815px) {
  .btn-dashboard-redirect {
    margin-bottom: 0.5rem;
  }

  .card-register {
    height: 75vh;
  }

  .card-body {
    font-size: large;
  }

  .card-body > form {
    margin-top: 0.5rem;
  }

  .col-org {
    margin-bottom: 0.5rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .registration-form-input {
    margin-top: 1.8rem !important;
  }

  .btn-bottom {
    margin-top: 1rem !important;
  }
}

@media (min-height: 870px) {
  .registration-form-input {
    margin-top: 2rem !important;
  }

  .btn-bottom {
    margin-top: 2rem !important;
  }
}

@media (min-height: 950px) {
  .registration-container {
    margin-top: -5rem;
  }

  .btn-dashboard-redirect {
    margin-bottom: 0rem;
  }

  .card-register {
    height: 70vh;
    border-end-start-radius: 30px !important;
    border-end-end-radius: 30px !important;
    padding-top: 1rem;
  }

  .card-body {
    font-size: larger;
  }

  .registration-form-input {
    margin-top: 2rem !important;
  }

  .registration-form-input .col-7 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-height: 1050px) {
  .card-register {
    height: 60vh;
  }
}
