<head>
    <link rel="stylesheet" href="../css/headerComponents.css">
</head>

<div class="header-profile-dashboard d-flex flex-nowrap justify-content-end align-items-center pt-2">
    <span class="px-1 officer-name d-flex">{{adminData.organization}}, {{adminData.first_name}}
        {{adminData.last_name}}</span>
    <span class="p-2 pe-2"><img src="../img/profile.png" alt="Profile Icon"></span>
    <a href="/help"><img src="../img/help.png" alt="Help Icon"></a>
</div>

{{> officerPermission}}