<div class="header-profile-dashboard d-flex justify-content-end align-items-center pt-2 pe-2">
    <span>{{adminData.organization}}, {{adminData.first_name}} {{adminData.last_name}}</span>
    <span class="p-2 px-3"><img src="../img/profile.png" alt="Profile Icon"></span>
    <a href="/help"><img src="../img/help.png" alt="Help Icon"></a>
</div>

{{> officerPermission}}