<head>
    <link rel="stylesheet" href="../css/landing.css">
</head>

<header class="header-landing position-relative">
    <figure class="position-absolute top-0 start-50 translate-middle-x">
        <img src="../img/gradient-bg.png" alt="Gradient BG" class="img-fluid w-100">
    </figure>

    <figure class=" lsu-star-logo position-absolute py-4 top-0 start-50 translate-middle-x">
        <a href="/"><img src="../img/LSU-STAR-LOGO.png" alt="Overlay LSU Star Logo" class="img-fluid"></a>
    </figure>
</header>