<head>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>

<div class="container-fluid">
    <div class="row flex-nowrap">
        {{> navbar}}

        <div class="col-9 mt-3">
            <div class="d-flex justify-content-between">
                <div class="col-lg-9 me-5">
                    {{> headerSearch}}

                    <div class="ms-3" style="width: 67rem;">
                        <div class="d-flex align-items-center border-bottom border-secondary pb-1 mb-4">
                            <h1 class="m-0 mt-4">Add Student</h1>
                            <form action="/import/import-csv-student" class="m-0 mt-4 px-3" method="POST"
                                id="importCsvStudentForm" enctype="multipart/form-data">
                                <input type="file" id="csvFileInput" name="csvFile" style="display:none"
                                    accept=".csv" />

                                <label for="csvFileInput" class="link-primary" style="cursor: pointer;"
                                    title="Click to import a CSV file to add student information all at once">(Import
                                    File)</label>
                                <button type="submit" style="display:none;" id="submitBtn"></button>
                            </form>
                        </div>
                        <form action="/student/add-student" method="POST"
                            class="d-flex align-items-center justify-content-center flex-column form-group"
                            style="min-height: 25rem;">
                            <div class="row d-flex justify-content-center align-items-center w-100">
                                {{!-- first name --}}
                                <div class="col-2 d-flex justify-content-end pe-5">
                                    <label for="inputFirstNameStudent">First Name</label>
                                </div>
                                <div class="col-6 col-add-student-field">
                                    <input type="text" class="form-control add-student-field border-secondary"
                                        id="inputFirstNameStudent" name="firstNameStudent" required>
                                </div>
                            </div>

                            {{!-- last name --}}
                            <div class="row d-flex justify-content-center align-items-center w-100 mt-2">
                                <div class="col-2 d-flex justify-content-end pe-5">
                                    <label for="inputLastNameStudent">Last Name</label>
                                </div>
                                <div class="col-6 col-add-student-field">
                                    <input type="text" class="form-control add-student-field border-secondary"
                                        id="inputLastNameStudent" name="lastNameStudent" required>
                                </div>
                            </div>

                            {{!-- id number & department --}}
                            <div class="row d-flex justify-content-center align-items-center w-100 mt-3">
                                <div class="col-2 d-flex justify-content-end pe-5">
                                    <label for="inputIDNumberStudent">ID Number</label>
                                </div>
                                <div class="col-2 col-add-student-field">
                                    <input type="text" class="form-control add-student-field border-secondary"
                                        id="inputIDNumberStudent" name="IDNumberStudent" minlength="9" maxlength="9"
                                        required>
                                </div>
                                <div class="col-2 d-flex justify-content-end">
                                    <label for="inputDepartmentStudent"
                                        class="add-student-label-department">Department</label>
                                </div>
                                <div class="col-2">
                                    {{#if isUSG}}
                                    <select id="inputDepartmentStudent"
                                        class="form-control add-student-field add-student-dropdown border-secondary"
                                        name="departmentStudent" required>
                                        <option disabled="disabled" selected="selected">Select Dept.</option>
                                        <option value="CAS">CAS</option>
                                        <option value="CBA">CBA</option>
                                        <option value="CCJE">CCJE</option>
                                        <option value="CCSEA">CCSEA</option>
                                        <option value="CON">CON</option>
                                        <option value="CTE">CTE</option>
                                        <option value="CTHM">CTHM</option>
                                    </select>
                                    {{else}}
                                    <input type="text" class="form-control add-student-field border-secondary"
                                        id="inputDepartmentStudent" name="departmentStudent"
                                        value="{{adminData.organization}}" readonly>
                                    {{/if}}
                                </div>
                            </div>

                            {{!-- course & year --}}
                            <div class="row d-flex justify-content-center align-items-center w-100 mt-2">
                                <div class="col-2 d-flex justify-content-end pe-5">
                                    <label for="inputCourseStudent">Course</label>
                                </div>
                                <div class="col-2 col-add-student-field">
                                    <select type="text" id="inputCourseStudent"
                                        class="form-control add-student-field add-student-dropdown border-secondary"
                                        name="courseStudent" required>
                                        <option disabled="disabled" selected="selected"></option>
                                    </select>
                                </div>
                                <div class="col-2 d-flex justify-content-end">
                                    <label for="inputYearStudent" class="add-student-label-year">Year</label>
                                </div>
                                <div class="col-2">
                                    <select id="inputYearStudent"
                                        class="form-control add-student-field add-student-dropdown border-secondary"
                                        name="yearStudent" required>
                                        <option disabled="disabled" selected="selected">Select Year</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>

                            {{!-- ABO --}}
                            <div class="row d-flex justify-content-center align-items-center w-100 mt-2">
                                <div class="col-2 d-flex justify-content-end pe-5">
                                    <label for="inputABOStudent">ABO</label>
                                </div>
                                <div class="col-2 col-add-student-field">
                                    <select type="text" id="inputABOStudent"
                                        class="form-control add-student-field add-student-dropdown border-secondary"
                                        name="ABOStudent" required>
                                        <option disabled="disabled" selected="selected"></option>
                                    </select>
                                </div>
                                <div class="col-2 col-hidden">
                                </div>
                                <div class="col-2 col-hidden">
                                </div>
                            </div>

                            <div class="border-bottom border-secondary w-100 mt-4"></div>

                            {{!-- exemption & active status --}}
                            <div class="row d-flex justify-content-center align-items-center w-100 mt-3">
                                <div class="col-2 d-flex justify-content-end col-add-student-label-status">
                                    <label for="inputExemptionStatusStudent">Exemption Status</label>
                                </div>
                                <div class="col-2 col-add-student-field">
                                    <select id="inputExemptionStatusStudent"
                                        class="form-control add-student-field add-student-dropdown border-secondary"
                                        name="exemptionStatusStudent" required>
                                        <option disabled="disabled" selected="selected">Select Status</option>
                                        <option value="Exempted">Exempted</option>
                                        <option value="Not Exempted">Not Exempted</option>
                                    </select>
                                </div>

                                <div class="col-2 d-flex justify-content-end pe-1">
                                    <label for="inputActiveStatusStudent" class="add-student-label-year">Active
                                        Status</label>
                                </div>
                                <div class="col-2">
                                    <select id="inputActiveStatusStudent"
                                        class="form-control add-student-field add-student-dropdown border-secondary"
                                        name="activeStatusStudent" required>
                                        <option disabled="disabled" selected="selected">Select Status</option>
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>

                                <div class="border-bottom border-secondary w-100 mt-3"></div>

                                <div class="form-group d-flex justify-content-end mt-4 me-5 pe-5 w-75">
                                    <button type="button" class="btn btn-reset btn-light mx-4">Reset</button>
                                    <input class="btn btn-add-student btn-outline-success w-25" type="submit"
                                        value="Add Student">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 ms-5">
                    {{> headerOfficer}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/addStudent.js"></script>
<script src="../js/importFileAddStudent.js"></script>