<body>
    {{> headerLanding}}
    <div class="container">
        <div class="row border-bottom">
            <div class="title-contact title-one-contact col-2">
                <h5><a href="help" class="link-light link-opacity-75-hover">FAQs</a></h5>
            </div>
            <div class="title-contact title-two-contact col-10">
                <h5><a href="contact" class="link-light">Contact Us</a></h5>
            </div>
        </div>

        <div class="contact-container mt-5">
            <div class="main-contact text-center">
                <img src="../img/contact-star.svg" alt="Star" style="width: 1.5rem;">
                <h1 class="fs-1 mt-2 mb-0 pb-0">Contact Us!</h1>
                <span class="fw-light">You can reach out to us with the following details</span>
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn border border-light btn-orgs-contact px-4">USG</button>
                    <button class="btn border border-light btn-orgs-contact mx-4 px-4">La Salle University</button>
                    <button class="btn border border-light btn-orgs-contact px-4">CSO</button>
                </div>
            </div>

            <div class="lsu-contact mt-5 pt-3">
                <h4 class="text-center">La Salle University - Ozamiz</h4>
                <div class="row row-contact d-flex justify-content-center mt-4">
                    <div class="icons-contact col-md-auto">
                        <img src="../img/gmail-white.png" alt="Gmail">
                    </div>
                    <div class="col col-lg-3">
                        <span class="link-light">info@lsu.edu.ph</span>
                    </div>
                </div>
                <div class="row-contact row mt-3 d-flex justify-content-center">
                    <div class="icons-contact col-md-auto">
                        <img src="../img/fb-white-2.png" alt="Facebook">
                    </div>
                    <div class="col col-lg-3">
                        <span><a href="https://www.facebook.com/lsu.edu.ph" target="_blank"
                                class="link-light link-opacity-75-hover">facebook.com/lsu.edu.ph</a></span>
                    </div>
                </div>
                <div class="row-contact row mt-3 d-flex justify-content-center">
                    <div class="icons-contact col-md-auto">
                        <img src="../img/lsu-website-white.png" alt="LSU Website">
                    </div>
                    <div class="col col-lg-3">
                        <span><a href="https://www.lsu.edu.ph" target="_blank"
                                class="link-light link-opacity-75-hover">lsu.edu.ph</a>
                        </span>
                    </div>
                </div>
                <div class="row-contact row mt-3 d-flex justify-content-center">
                    <div class="icons-contact col-md-auto">
                        <img src="../img/Address-white.png" alt="Address">
                    </div>
                    <div class="col col-lg-3">
                        <span class="link-light">Valconcha Street, Aguada, Ozamiz City, 7200</span>
                    </div>
                </div>
            </div>

            <div class="usg-contact mt-5 pt-3">
                <h4 class="text-center">University Student Government</h4>
                <div class="row row-contact d-flex justify-content-center mt-4">
                    <div class="icons-contact col-md-auto">
                        <img src="../img/gmail-white.png" alt="Gmail">
                    </div>
                    <div class="col col-lg-3">
                        <span class="link-light">usg@lsu.edu.ph</span>
                    </div>
                </div>
                <div class="row-contact row mt-3 d-flex justify-content-center">
                    <div class="icons-contact col-md-auto">
                        <img src="../img/fb-white-2.png" alt="Facebook">
                    </div>
                    <div class="col col-lg-3">
                        <span><a href="https://www.facebook.com/lsuusg" target="_blank"
                                class="link-light link-opacity-75-hover">facebook.com/lsuusg</a></span>
                    </div>
                </div>
                <div class="row-contact row mt-3 d-flex justify-content-center">
                    <div class="icons-contact col-md-auto">
                        <img src="../img/Address-white.png" alt="Address">
                    </div>
                    <div class="col col-lg-3">
                        <span class="link-light">USG Office, La Salle University</span>
                    </div>
                </div>
            </div>

            <div class="cso-contact mt-5 pt-3">
                <h4 class="text-center">Council of Student Organizations</h4>
                <div class="row row-contact d-flex justify-content-center mt-4">
                    <div class="icons-contact col-md-auto">
                        <img src="../img/gmail-white.png" alt="Gmail">
                    </div>
                    <div class="col col-lg-3">
                        <span class="link-light">cso@lsu.edu.ph</span>
                    </div>
                </div>
                <div class="row-contact row mt-3 d-flex justify-content-center">
                    <div class="icons-contact col-md-auto">
                        <img src="../img/fb-white-2.png" alt="Facebook">
                    </div>
                    <div class="col col-lg-3">
                        <span><a href="https://www.facebook.com/lsucso" target="_blank"
                                class="link-light link-opacity-75-hover">facebook.com/lsucso</a></span>
                    </div>
                </div>
                <div class="row-contact row mt-3 d-flex justify-content-center mb-5">
                    <div class="icons-contact col-md-auto">
                        <img src="../img/Address-white.png" alt="Address">
                    </div>
                    <div class="col col-lg-3">
                        <span class="link-light">USG Office, La Salle University</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>