<body>
    {{> headerLanding}}
    <div class="container">
        <div class="row border-bottom">
            <div class="title-contact title-one-contact col-2">
                <h5><a href="help" class="link-light link-opacity-75-hover">FAQs</a></h5>
            </div>
            <div class="title-contact title-two-contact col-10">
                <h5><a href="contact" class="link-light">Contact Us</a></h5>
            </div>
        </div>

        <div class="row mt-5 pt-5 d-flex justify-content-center">
            <div class="icons-contact col-md-auto">
                <img src="../img/gmail-white.png" alt="Gmail">
            </div>
            <div class="col col-lg-3">
                <h5 class="link-light">info@lsu.edu.ph</h5>
            </div>
        </div>

        <div class="row-contact row mt-3 d-flex justify-content-center">
            <div class="icons-contact col-md-auto">
                <img src="../img/fb-white-2.png" alt="Facebook">
            </div>
            <div class="col col-lg-3">
                <h5><a href="https://www.facebook.com/lsu.edu.ph" target="_blank"
                        class="link-light link-opacity-75-hover">facebook.com/lsu.edu.ph</a></h5>
            </div>
        </div>

        <div class="row-contact row mt-3 d-flex justify-content-center">
            <div class="icons-contact col-md-auto">
                <img src="../img/lsu-website-white.png" alt="LSU Website">
            </div>
            <div class="col col-lg-3">
                <h5><a href="https://www.lsu.edu.ph" target="_blank"
                        class="link-light link-opacity-75-hover">lsu.edu.ph</a>
                </h5>
            </div>
        </div>

        <div class="row-contact row mt-3 d-flex justify-content-center">
            <div class="icons-contact col-md-auto">
                <img src="../img/Address-white.png" alt="Address">
            </div>
            <div class="col col-lg-3">
                <h5 class="link-light">Valconcha Street, Aguada, Ozamiz City, 7200</h5>
            </div>
        </div>
    </div>
</body>