<body>
    {{> headerLanding}}
    <div class="container">
        <div class="row border-bottom">
            <div class="title-help title-one-help col-2">
                <h5><a href="help" class="link-light">FAQs</a></h5>
            </div>
            <div class="title-help title-two-help col-10">
                <h5><a href="contact" class="link-light link-opacity-75-hover">Contact Us</a></h5>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md">
                <div class="card card-faq my-1">
                    <div class="card-body mt-3">
                        <h4>What is the Pointing System all about?</h4>
                        <p class="card-faq-text">The pointing system is a clearance requirement that all students should
                            meet by the end of the school year, based on the given required amount of points to gather
                            throughout all the events. </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-faq my-1">
                    <div class="card-body mt-3">
                        <h4>What is the LSU Passport?</h4>
                        <p class="card-faq-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit,
                            voluptatibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-faq my-1">
                    <div class="card-body mt-3">
                        <h4>How do I acquire points?</h4>
                        <p class="card-faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quae.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-faq my-1">
                    <div class="card-body mt-3">
                        <h4>What is the required amount of points per semester?</h4>
                        <p class="card-faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor,
                            accusamus.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 my-4 d-flex justify-content-center">
            <div class="col-md">
                <div class="card card-faq my-1">
                    <div class="card-body mt-3">
                        <h4>Where can I get stamps?</h4>
                        <p class="card-faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
                            vitae. </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-faq my-1">
                    <div class="card-body mt-3">
                        <h4>Is there a limit to gathering stamps?</h4>
                        <p class="card-faq-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit,
                            voluptatibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-faq my-1">
                    <div class="card-body mt-3">
                        <h4>What if I lost my LSU Passport?</h4>
                        <p class="card-faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quae.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-faq my-1">
                    <div class="card-body mt-3">
                        <h4>Who can I ask for further clarifications?</h4>
                        <p class="card-faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor,
                            accusamus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>