<body>
    {{> headerLanding}}
    <div class="container">
        <div class="row">
            <div class="col position-relative">
                <figure class="figure-landing position-absolute w-100">
                    <img src="../img/landing-img.png" alt="Landing Page Image">
                    <div
                        class="position-absolute top-0 start-50 translate-middle-x py-5 text-center d-flex align-items-center w-75">
                        <figcaption class="me-3">
                            <h1 class="brackets-landing">[</h1>
                        </figcaption>
                        <figcaption class="me-3">
                            <h5 class="title-img-landing fw-bold">EVENTS AND ATTENDANCE TRACKING WEBSITE</h5>
                        </figcaption>
                        <figcaption class="me-3">
                            <h1 class="brackets-landing">]</h1>
                        </figcaption>
                    </div>
                    <div class="position-absolute bottom-0 start-50 translate-middle-x text-center py-5 w-100">
                        <a href="/login">
                            <button type="button" class="btn-landing btn btn-light btn-lg fw-bold w-50 p-3">TAKE ME
                                IN</button>
                        </a>
                    </div>
                </figure>
            </div>
            <div class="second-col-landing col position-relative">
                <h1 class="title-landing">EVENTS AND <br> ATTENDANCE <br> TRACKING WEBSITE</h1>
                <p class="description-landing fw-light">Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Iste exercitationem modi, inventore vitae maiores, ut beatae adipisci
                    assumenda, expedita ipsum fugit nostrum. Nihil sit ullam dolorum quas corporis. Reiciendis totam
                    mollitia atque eaque omnis non esse alias commodi laborum facilis fugiat, eos excepturi iste
                    officia? Quaerat provident dolores ut recusandae.
                    <br><br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente laudantium
                    voluptatem nam amet accusantium blanditiis tenetur, mollitia exercitationem aut nobis.
                </p>
                <div class="logo-link-landing">
                    <p class="position-absolute bottom-0 py-5"><a href="/help"
                            class="link-secondary link-hover-opacity-100 link-offset-2" target="_blank">Got Any
                            Questions?</a></p>
                    <div class="position-absolute bottom-0 end-0 py-5 d-flex">
                        <figure><a href="https://www.facebook.com/lsu.edu.ph" target="_blank"><img
                                    src="../img/fb-white-landing.png" alt="Facebook"></a></figure>
                        <figure class="px-2"><a href="https://lsu.edu.ph" target="_blank"><img
                                    src="../img/lsu-website-white-landing.png" alt="LSU Website"></a></figure>
                        <figure><a href="https://lsu.instructure.com" target="_blank"><img
                                    src="../img/canvas-white-landing.png" alt="Canvas"></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>