<style>
    html,
    body {
        height: 100%;
        margin: 0;
        overflow-y: hidden;
    }

    @media (max-height: 678px) {
        body {
            overflow-y: auto;
        }
    }

    @media (min-height: 815px) {
        .btn-dashboard-redirect {
            margin-bottom: 0.5rem;
        }

        .card-register {
            height: 75vh;
        }

        .card-body {
            font-size: large;
        }

        .card-body>form {
            margin-top: 0.5rem;
        }

        .col-org {
            margin-bottom: 0.5rem;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        .registration-form-input {
            margin-top: 1.8rem !important;
        }

        .btn-bottom {
            margin-top: 1rem !important;
        }
    }

    @media (min-height: 870px) {
        .registration-form-input {
            margin-top: 2rem !important;
        }

        .btn-bottom {
            margin-top: 2rem !important;
        }
    }

    @media (min-height: 950px) {
        .registration-container {
            margin-top: -5rem;
        }

        .btn-dashboard-redirect {
            margin-bottom: 0rem;
        }

        .card-register {
            height: 70vh;
            border-end-start-radius: 30px !important;
            border-end-end-radius: 30px !important;
            padding-top: 1rem;
        }

        .card-body {
            font-size: larger;
        }

        .registration-form-input {
            margin-top: 2rem !important;
        }

        .registration-form-input .col-7 {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    @media (min-height: 1050px) {
        .card-register {
            height: 60vh;
        }
    }
</style>

<body>
    {{> headerLanding}}
    {{> officerPermission}}

    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col position-relative" style="min-height: 30px;">
                <div
                    class="position-absolute top-0 start-50 my-1 translate-middle-x text-center d-flex align-items-center">
                    <p class="brackets-register">[</p>
                    <p class="title-register mx-5">Register</p>
                    <p class="brackets-register">]</p>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center flex-grow-1">
            <div class="row d-flex flex-column registration-container" style="width: 1000px;">
                <div class="col">
                    <a href="/dashboard">
                        <button type="button" class="btn btn-dashboard-redirect btn-light btn-md fw-bold w-25">Back to
                            Dashboard</button>
                    </a>
                    <div class="card card-register d-flex justify-content-center align-items-center mt-2 mx-auto"
                        style="min-height: 35rem;">
                        <div class="card-body card-body-register w-100" style="max-width: 900px;">
                            <form action="/auth/register" method="POST">
                                <span>Organization</span>
                                <div class="form-group row border-bottom mt-2">
                                    <div class="col col-org d-flex">
                                        {{#if isSAO}}
                                        <button class="btn btn-org border border-2 fw-bold mb-3"
                                            type="button">SAO</button>
                                        {{/if}}
                                        {{#if isUSGorSAO}}
                                        <button
                                            class="btn btn-org border border-2 fw-bold {{#if isSAO}} ms-3 {{/if}} mb-3"
                                            type="button">USG</button>
                                        {{/if}}
                                        {{#if isCSOorSAO}}
                                        <button
                                            class="btn btn-org border border-2 fw-bold {{#if isSAO}} ms-3 {{/if}} mb-3"
                                            type="button">CSO</button>
                                        {{/if}}

                                        {{!-- College --}}
                                        {{#if isCollegeOrSAORegister}} {{!-- Start of CollegeOrSAORegister --}}
                                        <div class="dropdown">
                                            <button
                                                class="btn btn-org border border-2 fw-bold {{#if isSAO}} ms-3 {{/if}}mb-3 dropdown-toggle"
                                                type="button" id="dropdown1" data-dropdown-id="dropdown1"
                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                COLLEGE
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdown1">
                                                {{#if (or (eq organization "CAS") (eq organization "SAO"))}}
                                                <a class="dropdown-item">CAS</a>
                                                {{/if}}
                                                {{#if (or (eq organization "CBA") (eq organization "SAO"))}}
                                                <a class="dropdown-item">CBA</a>
                                                {{/if}}
                                                {{#if (or (eq organization "CCJE") (eq organization "SAO"))}}
                                                <a class="dropdown-item">CCJE</a>
                                                {{/if}}
                                                {{#if (or (eq organization "CCSEA") (eq organization "SAO"))}}
                                                <a class="dropdown-item">CCSEA</a>
                                                {{/if}}
                                                {{#if (or (eq organization "CON") (eq organization "SAO"))}}
                                                <a class="dropdown-item">CON</a>
                                                {{/if}}
                                                {{#if (or (eq organization "CTE") (eq organization "SAO"))}}
                                                <a class="dropdown-item">CTE</a>
                                                {{/if}}
                                                {{#if (or (eq organization "CTHM") (eq organization "SAO"))}}
                                                <a class="dropdown-item">CTHM</a>
                                                {{/if}}
                                            </div>
                                        </div>
                                        {{/if}} {{!-- End of CollegeOrSAORegister --}}

                                        {{#if isExtraOrgsTrue}} {{!-- Start of ExtraOrgsTrue --}}
                                        {{#if isCSOorABOorSAO}} {{!-- Start of CSOorABOorSAO --}}
                                        <div class="dropdown">
                                            <button
                                                class="btn btn-org border border-2 fw-bold {{#if isCSOorSAO}} ms-3 {{/if}} mb-3 dropdown-toggle"
                                                type="button" id="dropdown2" data-dropdown-id="dropdown2"
                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ABO
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdown2">
                                                {{#if isCAS}} {{!-- Start of CAS --}}
                                                <a class="dropdown-item disabled" tabindex="-1" aria-disabled="true">CAS
                                                    ABO</a>

                                                {{#if (or (eq organization "JSWAP") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">JSWAP</a>
                                                {{/if}}
                                                {{#if (or (eq organization "LABELS") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">LABELS</a>
                                                {{/if}}
                                                {{#if (or (eq organization "LSUPS") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">LSUPS</a>
                                                {{/if}}
                                                {{#if (or (eq organization "POLISAYS") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">POLISAYS</a>
                                                {{/if}}
                                                {{/if}} {{!-- End of CAS --}}

                                                {{#if isCBA}} {{!-- Start of CBA --}}
                                                <a class="dropdown-item disabled" tabindex="-1" aria-disabled="true">CBA
                                                    ABO</a>
                                                {{#if (or (eq organization "JFINEX") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">JFINEX</a>
                                                {{/if}}
                                                {{#if (or (eq organization "JMEX") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">JMEX</a>
                                                {{/if}}
                                                {{#if (or (eq organization "JPIA") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">JPIA</a>
                                                {{/if}}
                                                {{/if}} {{!-- End of CBA --}}

                                                {{#if isCCSEA}} {{!-- Start of CCSEA --}}
                                                <a class="dropdown-item disabled" tabindex="-1"
                                                    aria-disabled="true">CCSEA ABO</a>
                                                {{#if (or (eq organization "ALGES") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">ALGES</a>
                                                {{/if}}
                                                {{#if (or (eq organization "ICpEP") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">ICpEP</a>
                                                {{/if}}
                                                {{#if (or (eq organization "IIEE") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">IIEE</a>
                                                {{/if}}
                                                {{#if (or (eq organization "JIECEP") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">JIECEP</a>
                                                {{/if}}
                                                {{#if (or (eq organization "LISSA") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">LISSA</a>
                                                {{/if}}
                                                {{#if (or (eq organization "PICE") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">PICE</a>
                                                {{/if}}
                                                {{#if (or (eq organization "SOURCE") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">SOURCE</a>
                                                {{/if}}
                                                {{#if (or (eq organization "UAPSA") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">UAPSA</a>
                                                {{/if}}
                                                {{/if}} {{!-- End of CCSEA --}}

                                                {{#if isCTE}} {{!-- Start of CTE --}}
                                                <a class="dropdown-item disabled" tabindex="-1" aria-disabled="true">CTE
                                                    ABO</a>
                                                {{#if (or (eq organization "ECC") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">ECC</a>
                                                {{/if}}
                                                {{#if (or (eq organization "GENTLE") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">GENTLE</a>
                                                {{/if}}
                                                {{#if (or (eq organization "GEM-O") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">GEM-O</a>
                                                {{/if}}
                                                {{#if (or (eq organization "LapitBayan") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">LapitBayan</a>
                                                {{/if}}
                                                {{#if (or (eq organization "LME") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">LME</a>
                                                {{/if}}
                                                {{#if (or (eq organization "SPEM") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">SPEM</a>
                                                {{/if}}
                                                {{#if (or (eq organization "SSS") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">SSS</a>
                                                {{/if}}
                                                {{/if}} {{!-- End of CTE --}}

                                                {{#if isCTHM}} {{!-- Start of CTHM --}}
                                                <a class="dropdown-item disabled" tabindex="-1"
                                                    aria-disabled="true">CTHM
                                                    ABO</a>
                                                {{#if (or (eq organization "FHARO") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">FHARO</a>
                                                {{/if}}
                                                {{#if (or (eq organization "FTL") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">FTL</a>
                                                {{/if}}
                                                {{#if (or (eq organization "SOTE") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">SOTE</a>
                                                {{/if}}
                                                {{/if}} {{!-- End of CTHM --}}
                                            </div>
                                        </div>
                                        {{/if}} {{!-- End of CSOorABOorSAO --}}

                                        {{#if isCSOorIBOorSAO}} {{!-- Start of CSOorIBOorSAO --}}
                                        <div class="dropdown">
                                            <button
                                                class="btn btn-org border border-2 fw-bold {{#if isCSOorSAO}} ms-3 {{/if}} mb-3 dropdown-toggle"
                                                type="button" id="dropdown3" data-dropdown-id="dropdown3"
                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                IBO
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdown3">
                                                {{#if (or (eq organization "Compatriots") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">Compatriots</a>
                                                {{/if}}
                                                {{#if (or (eq organization "Cosplay Corps") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">Cosplay Corps</a>
                                                {{/if}}
                                                {{#if (or (eq organization "Green Leaders") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">Green Leaders</a>
                                                {{/if}}
                                                {{#if (or (eq organization "Kainos") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">Kainos</a>
                                                {{/if}}
                                                {{#if (or (eq organization "Meeples") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">Meeples</a>
                                                {{/if}}
                                                {{#if (or (eq organization "Micromantics") (eq organization "CSO") (eq
                                                organization "SAO"))}}
                                                <a class="dropdown-item">Micromantics</a>
                                                {{/if}}
                                                {{#if (or (eq organization "Red Cross Youth") (eq organization "CSO")
                                                (eq organization "SAO"))}}
                                                <a class="dropdown-item">Red Cross Youth</a>
                                                {{/if}}
                                                {{#if (or (eq organization "Soul Whisperers") (eq organization "CSO")
                                                (eq organization "SAO"))}}
                                                <a class="dropdown-item">Soul Whisperers</a>
                                                {{/if}}
                                                {{#if (or (eq organization "Vanguard E-sports") (eq organization "CSO")
                                                (eq organization
                                                "SAO"))}}
                                                <a class="dropdown-item">Vanguard E-sports</a>
                                                {{/if}}
                                            </div>
                                        </div>
                                        {{/if}} {{!-- End of CSOorIBOorSAO --}}
                                        {{/if}} {{!-- End of ExtraOrgsTrue --}}
                                    </div>
                                </div>

                                <input type="hidden" name="organizationRegister" id="organizationRegister">

                                <div class="form-group row registration-form-input d-flex align-items-center mt-4">
                                    <div class="col-2">
                                        <label for="inputLasttName">Last Name</label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" class="form-control registration-field" id="inputLastName"
                                            name="lastNameRegister" required>
                                    </div>
                                </div>
                                <div class="form-group row registration-form-input d-flex align-items-center mt-3">
                                    <div class="col-2">
                                        <label for="inputFirstName">First Name</label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" class="form-control registration-field" id="inputFirstName"
                                            name="firstNameRegister" required>
                                    </div>
                                </div>
                                <div class="form-group row registration-form-input d-flex align-items-center mt-3">
                                    <div class="col-2">
                                        <label for="inputUsername">Username</label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" class="form-control registration-field" id="inputUsername"
                                            name="username" required>
                                    </div>
                                </div>

                                <div class="form-group row registration-form-input d-flex align-items-center mt-3">
                                    <div class="col-2">
                                        <label for="inputPassword">Password</label>
                                    </div>
                                    <div class="col-7">
                                        <div
                                            class="input-group password-field registration-field border show_hide_password">
                                            <input type="password" class="form-control border-0 password-input"
                                                id="inputPassword" name="password" required>
                                            <div class="input-group-append">
                                                <span
                                                    class="input-group-text bg-transparent border-0 pt-2 togglePassword"
                                                    style="cursor: pointer;">
                                                    <i class="fas fa-eye-slash"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row registration-form-input d-flex align-items-center mt-4">
                                    <div class="col-2">
                                        <label for="confirmPassword">Confirm Password</label>
                                    </div>
                                    <div class="col-7">
                                        <div
                                            class="input-group password-field registration-field border show_hide_password">
                                            <input type="password" class="form-control border-0 password-input"
                                                id="confirmPassword" name="passwordConfirm" required>
                                            <div class="input-group-append">
                                                <span
                                                    class="input-group-text bg-transparent border-0 pt-2 togglePassword"
                                                    style="cursor: pointer;">
                                                    <i class="fas fa-eye-slash"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group btn-bottom d-flex justify-content-end mt-4 w-100">
                                    <button class="btn btn-reset btn-light mx-4">Reset</button>
                                    <input class="btn btn-register btn-outline-success w-25" type="submit"
                                        value="Register">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/if}}

    <script src="../js/landing.js"></script>
</body>