<head>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>

<div class="container-fluid">
    <div class="row flex-nowrap">
        {{> navbarDashboard}}

        <div class="col-7 mt-3">
            {{> headerSearch}}

        </div>

        <div class="col mt-3">
            {{> headerOfficer}}
        </div>
    </div>
</div>