body {
  background-color: var(--gray-shade);
}

.search-list-group,
.search-ibo-group {
  border-radius: 10px;
  overflow: hidden;
}

/* dashboard */

.card-spr-dashboard,
.card-bottom {
  border-radius: 30px;
}

.card-bottom {
  width: 16rem;
}

.card-small-text {
  color: var(--main-green);
  opacity: 0.8;
}

.card-text-bottom-description {
  font-size: 0.9rem;
}

.btn-card-bottom {
  border-radius: 20px;
}

.btn-card-bottom-text {
  padding-top: 0.1rem;
}

/* add student */
.col-add-student-field {
  margin-left: -2rem;
}

.add-student-field {
  border-radius: 7px;
}

.add-student-label-department,
.add-student-label-year {
  padding-left: 4rem;
}

.col-hidden {
  visibility: hidden;
}

.col-add-student-label-status {
  padding-right: 2.5rem;
}

.btn-add-student,
.btn-view-record-add-student {
  color: white;
  background-color: var(--main-green);
}

.add-student-dropdown {
  background-position: right 0.75rem center;
  background-size: 0.65rem 0.65rem;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='none' stroke='%23000' d='M0 0l2 2 2-2'/%3E%3C/svg%3E");
}

.add-student-dropdown,
.list-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
}

.container-calendar {
  margin-left: -1.8rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 10;
}

/* add student ibo */

.searchStudentIBO {
  color: gray;
}

.search-ibo-group {
  border-radius: 10px;
  overflow: hidden;
}

#suggestionsList {
  overflow-y: auto;
  display: none;
}

#suggestionsList .list-group-item {
  cursor: pointer;
}

#suggestionsList .list-group-item:hover {
  background-color: #f0f0f0;
}

input:focus + #suggestionsList {
  display: block;
}

.vertical-line {
  border-left: 1px solid gray;
  height: 450px;
}

.added-members-container {
  overflow-y: auto;
  height: 22rem;
}

.remove-icon {
  cursor: pointer;
  color: red;
  margin-left: 10px;
}

.member-item {
  padding-top: 15px; /* Adjust the value as needed */
}

/* add student successful */

.card-body-nested-add-student {
  width: 20rem;
  border: 1px solid var(--main-green);
  border-radius: 20px;
}

.btn-add-student-successful {
  border-radius: 20px;
}

.btn-add-student-another {
  color: var(--main-green);
  font-size: 0.9rem;
}

/* list */
.list-dropdown {
  font-size: 0.7rem;
  background-image: url("../img/arrow-dropdown.png");
  background-position: right 0.4rem center;
  background-size: 0.9rem 0.9rem;
  border-radius: 15px;
}

.automatic-list-group {
  border-radius: 15px;
  font-size: 0.8rem;
}

.search-list-field,
.search-ibo-field,
.sort-list {
  background-color: var(--gray-shade);
}

.sort-list:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.col-list-header-idnumber {
  margin-left: -1rem;
}

.row-even {
  background-color: var(--gray-shade);
}

.row-odd {
  background-color: rgba(60, 98, 85, 0.15);
}

.card-list-container {
  margin-left: -8rem;
  border: 1px dashed var(--main-green);
}
.student-id-number-list {
  background-color: #efefef;
  border: 1px solid rgba(33, 58, 49, 0.3);
}

.student-status-list {
  background-color: var(--main-green);
  color: white;
}

.student-id-number-list,
.student-status-list {
  border-radius: 20px;
  font-size: 0.8rem;
  padding-top: 0.2rem;
  padding: 0.3rem;
}

.student-group-list,
.participation-record-list {
  font-size: 0.8rem;
}

.student-group-list-details,
.participation-record-list-details {
  border: 1px solid rgba(33, 58, 49, 0.5);
  border-radius: 20px;
}

.student-group-list-title,
.participation-record-list-title {
  display: inline-block;
  width: 6rem;
}

.btn-view-record {
  background-color: var(--main-green);
}
