.search-dashboard-container {
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.lsu-star-search-dashboard {
  width: 4rem;
}

.search-dashboard-group {
  border-radius: 10px;
  overflow: hidden;
}

.search-dashboard-group input {
  letter-spacing: 1px;
  background-color: #fcfcfc;
  font-size: 0.8rem;
}

.header-profile-dashboard img {
  width: 1.5rem;
}

.officer-name {
  font-size: 0.9rem;
  text-align: right;
}

.input-group-text {
  cursor: pointer;
}
