body {
  background-color: var(--main-green);
}

.header-landing {
  height: 5.5rem;
}

.lsu-star-logo img {
  height: 2.5rem;
}

.brackets-landing,
.title-img-landing,
.brackets-login,
.title-login {
  color: white;
}

.brackets-landing,
.brackets-login {
  font-size: 3rem;
}

.title-img-landing,
.title-login {
  line-height: 1.6;
}

.btn-landing {
  color: var(--main-green);
  border-radius: 15px;
  margin-left: -1rem;
}

.title-landing,
.description-landing {
  color: white;
}

.description-landing {
  top: calc(10% + 9rem);
}

.attendance-guidelines-link,
.help-link {
  color: var(--main-green);
  text-decoration: none;
}

.btn-attendance-guidelines:hover,
.btn-help:hover {
  color: rgb(68, 104, 91);
}

.btn-attendance-guidelines,
.btn-help {
  border-radius: 40px;
}

.btn-attendance-guidelines img,
.btn-help img {
  width: 25%;
  margin-left: -2rem;
  margin-top: -0.2rem;
  margin-bottom: -1rem;
}

.btn-attendance-guidelines span,
.btn-help span {
  font-size: 1.1rem;
}

.logo-link-landing img {
  width: 2rem;
}

.title-help,
.title-contact {
  text-underline-offset: 0.95rem;
}

.title-one-help,
.title-one-contact {
  padding-left: 4rem;
}

.title-two-help a {
  text-decoration: none;
}

.title-two-help a:hover {
  text-decoration: underline;
}

.card-faq {
  border-radius: 20px;
  height: 23rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body {
  overflow: auto;
}

.card-faq-text {
  color: var(--tertiary-green);
}

.title-one-contact a {
  text-decoration: none;
}

.title-one-contact a:hover {
  text-decoration: underline;
}

.contact-container {
  color: white;
}

.btn-orgs-contact {
  color: white;
  border-radius: 20px;
  cursor: default !important;
}

.row-contact span {
  font-size: 1.1rem;
}

.row-contact a {
  text-decoration: none;
}

.icons-contact img {
  width: 1.2rem;
}

/* login.hbs */

.card-login {
  border-start-start-radius: 30px;
  border-start-end-radius: 30px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}

.btn-login {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-login,
.btn-register-another {
  background-color: var(--main-green);
  color: white;
  border-radius: 30px;
}

.form-control::placeholder {
  letter-spacing: 3px;
}

#togglePassword i {
  font-size: 1rem;
}

#togglePassword i:hover {
  color: rgb(53, 51, 51);
}

/* register */

.brackets-register,
.title-register {
  color: white;
}

.btn-dashboard-redirect {
  border-radius: 30px;
}

.card-register {
  border-start-start-radius: 30px;
  border-start-end-radius: 30px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}

.col-org button {
  min-width: 7.5rem;
  border-radius: 10px;
}

.col-org button:hover,
.col-org .dropdown-item:hover {
  background-color: var(--main-green);
  color: white;
  cursor: pointer;
}

.active-style,
.col-org button:active,
.col-org button:focus,
.btn-register {
  color: white;
  background-color: var(--main-green);
}

.registration-field {
  border-radius: 7px;
}

.disabled-item {
  color: #6c757d;
  pointer-events: none;
  cursor: not-allowed;
}

/* registration success */

.card-body-nested {
  width: 20rem;
  border: 1px solid var(--main-green);
  border-radius: 20px;
}

.btn-register-another {
  font-size: 0.9rem;
}

/* landing page student search */

.search-student-container {
  border-radius: 12px;
}

#searchStudentProfileLanding {
  font-size: 0.9rem;
}

#searchStudentProfileLanding::placeholder {
  color: white;
}

#searchStudentProfileLanding:focus {
  outline: none;
  box-shadow: none;
}

.search-landing-page-student-group img {
  width: 2.8rem;
  cursor: pointer;
}

#suggestionsList {
  list-style: none;
  overflow-y: auto;
}

.list-group-item {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  margin-left: 3rem;
}
