body {
  background-color: var(--gray-shade);
}

/* select design */
.select-event-day,
#editDepartmentNameDropdown,
#editCourseNameDropdown,
#editYearLevelDropdown {
  background-image: url("../img/arrow-dropdown.png");
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-event-scope,
.edit-active-status,
.edit-exemption-status,
#aboNameDropdown,
#iboNameDropdown {
  background-image: url("../img/arrow-dropdown-white.png");
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.spr-parent-container {
  min-width: 52rem;
}

.student-name {
  text-transform: uppercase;
}

.student-name img {
  width: 1.3rem;
  height: 1.3rem;
}

.student-id-number-spr {
  background-color: #efefef;
  border: 1px solid rgba(33, 58, 49, 0.3);
}

.student-status-spr,
.org-spr,
.attendance-table-label,
.activity-table-label {
  background-color: var(--main-green);
  color: white;
}

.add-activity-icon {
  width: 1.3rem;
  height: 1.3rem;
}

.student-id-number-spr,
.student-status-spr,
.attendance-table-label {
  border-radius: 20px;
  font-size: 0.7rem;
  padding-top: 0.2rem;
  padding: 0.3rem;
}

.student-profile-small-text {
  font-size: 0.8rem;
}

.vl {
  border-left: 1px solid gray;
  height: 35px;
}

.org-text {
  line-height: 5px;
}

.org-small-text {
  font-size: 0.7rem;
}

.org-spr {
  border-radius: 20px;
  font-size: 0.9rem;
  padding: 0.1rem;
  padding-top: 0.2rem;
}

.card-spr {
  max-width: 99.5%;
  min-height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.semestral-points-container,
.total-points-container {
  border-radius: 10px;
  flex: 1; /* Makes the containers take up equal height */
}

.semester-indicator,
.total-points-indicator {
  border-bottom: 1px dashed gray;
  font-size: 0.9rem;
  flex: 1;
}

.points-container .col-5 {
  flex: 1;
}

.attendance-table-label,
.activity-table-label {
  border-radius: 10px;
  padding: 0.1rem;
  padding-top: 0.2rem;
  font-size: 0.8rem;
}

.form-check-input {
  font-size: 1.2rem;
  margin-top: 0;
  border: 2px solid var(--main-green);
}

.form-check-input:checked {
  background-color: var(--main-green);
  border-color: var(--main-green);
}

.form-check-label {
  font-size: 0.8rem;
}

.officer-in-charge {
  border: 2px solid var(--main-green);
  border-radius: 20px;
  display: block;
}

.select-event-day {
  border-radius: 10px;
  font-size: 0.8rem;
  padding-left: 1rem;
  padding-right: 1.8rem;
  background-position: right 0.5rem center;
  background-size: 0.9rem 0.9rem;
  background-color: transparent;
}

.sort-activities {
  font-size: 0.8rem;
}

.search-activity-group {
  border-radius: 10px;
  overflow: hidden;
}

.search-activity-field {
  background-color: var(--gray-shade);
  font-size: 0.8rem;
  padding-top: 0.1rem;
}

.input-group-text img {
  height: 1rem;
}

.attendance-table-header,
.activity-table-header,
.attendance-table-information,
.activity-table-information {
  font-size: 0.9rem;
}

.activity-table-information-even {
  background-color: rgba(60, 98, 85, 0.15);
}

.col-activity-name {
  width: 11rem;
}

.col-role {
  width: 9.5rem;
}

.assign-role {
  border-radius: 20px;
  padding: 0.3rem;
  padding-top: 0.4rem;
  width: 9.5rem;
}

.col-officer-in-charge {
  width: 13rem;
}

.officer-activity-recorder-header {
  width: 13rem;
}

.officer-activity-recorder,
.officer-attendance-recorder {
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  line-height: 15px;
}

.team-participant,
.prog-spectator {
  background-color: red;
}

.indiv-participant,
.oth-spectator {
  background-color: blue;
}

.indiv-participant,
.team-participant,
.prog-spectator,
.oth-spectator {
  color: white;
  border: 0;
}

.col-spr-sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 1000;
}

.col-spr-sidebar {
  width: 100%;
  overflow-x: hidden;
}

.events-container {
  border: 1px dashed black;
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 15rem;
  max-height: 21.5rem;
}

.events-display-container {
  flex-shrink: 1;
}

.event-scope-label {
  font-size: 1.15rem;
}

.events-container * {
  max-width: 100%;
}

.select-event-scope {
  background-color: var(--main-green);
  color: white;
  border-radius: 8px;
  background-position: right 0.5rem center;
  background-size: 0.9rem 0.9rem;
}

.automatic-event-scope {
  cursor: default;
}

.select-year,
.select-sem {
  color: var(--main-green);
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem 0.2rem 1rem;
  background-color: white;
}

.dropdown-menu-year,
.dropdown-menu-sem {
  min-width: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.event-scope-title {
  font-size: 1.1rem;
}

.add-event-img {
  width: 1.2rem;
}

.event-card {
  border-radius: 15px;
  position: relative;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card-event-date {
  color: gray;
  font-size: 0.9rem;
}

.event-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background-color: #4fc49a;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.edit-event-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.import-file-card,
.points-card {
  border: 1px dashed black;
  border-radius: 15px;
}

.import-file-card img {
  width: 1.1rem;
}

.import-file-text {
  font-size: 0.8rem;
}

.activity-subtotal-text,
.attendance-subtotal-text {
  font-size: 0.9rem;
}

.btn-verify-points {
  background-color: var(--main-green);
}

.event-input {
  border: 1px solid gray;
  border-radius: 20px;
}

.btn-add-event-submit,
.btn-edit-event-submit,
.btn-edit-student-profile-submit,
.btn-import-file-submit {
  background-color: var(--main-green);
  border-radius: 20px;
}

.to-verify-dropdown {
  border-radius: 20px;
  background-position: right 0.5rem center;
  background-size: 0.9rem 0.9rem;
}

.event-date,
.activity-date,
.activity-date-in-event,
.activity-date-in-activity,
#academicYear {
  border-radius: 20px;
}

.add-more-activities:hover {
  background-color: rgb(241, 240, 240);
}

.modal-body-edit-student-profile {
  margin-top: -1.2rem;
}

.edit-name-group,
.edit-id-number-group {
  border-radius: 10px;
}

#editStudentName,
#editStudentName::placeholder {
  color: var(--main-green);
  font-size: 1.4rem;
  opacity: 1;
}

.edit-id-number-group *,
.edit-id-number-group *:focus {
  background-color: rgba(33, 58, 49, 0.2);
}

.edit-active-status,
.edit-exemption-status {
  background-color: var(--main-green);
  font-size: 0.9rem;
  padding: 0.3rem 1rem 0.2rem 1rem;
  color: white;
  border-radius: 20px;
  background-position: right 0.3rem center;
  background-size: 0.9rem 0.9rem;
}

#editDepartmentNameDropdown,
#editCourseNameDropdown,
#editYearLevelDropdown {
  border-radius: 10px;
  color: var(--main-green);
  background-position: right 0.3rem center;
  background-size: 1.2rem 1.2rem;
}

#aboNameDropdown,
#iboNameDropdown {
  background-position: right 0.7rem center;
  background-size: 0.9rem 0.9rem;
}

#editEventNameInput,
#editEventNameInput::placeholder,
#editStartDateEvent,
#editStartDateEvent::placeholder,
#editEndDateEvent,
#editEndDateEvent::placeholder,
#editActivityNameInput,
#editActivityNameInput::placeholder {
  color: var(--main-green);
}

#editEventNameInput,
#editActivityNameInput,
.btn-delete-event,
.btn-delete-activity {
  border-radius: 20px;
}

.btn-delete-event,
.btn-delete-event:hover,
.btn-delete-activity,
.btn-delete-activity:hover {
  border: 1px solid red;
  color: red;
}

.btn-delete-event,
.btn-delete-activity {
  background-color: transparent;
}

.btn-delete-event:hover,
.btn-delete-activity:hover {
  background-color: rgb(241, 233, 233);
}

#eventNameToDelete,
#activityNameToDelete {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0.8rem 2rem 0.6rem 2rem;
}

#deleteEventsModalLabel,
#deleteActivitiesModalLabel {
  letter-spacing: 2px;
}

.btn-edit-event-cancel,
.btn-edit-activity-cancel {
  color: var(--main-green);
}

.btn-delete-event-submit,
.btn-edit-activity-submit {
  border-radius: 20px;
}

.import-file-modal-container {
  border: 1px dashed black;
  border-radius: 20px;
}
