* {
  box-sizing: border-box;
}

:root {
  --main-green: #213a31;
  --secondary-green: #33db9e;
  --tertiary-green: #297257;
  --gray-shade: #F0FAED;
}

body {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
}
