<div class="modal fade" id="addYearModal" tabindex="-1" aria-labelledby="addYearModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-3">
            <div class="modal-header border-bottom-0 pb-2">
                <h1 class="modal-title fw-bold fs-3 ps-2 mt-1" id="addYearModalLabel">
                    Add Academic Year
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-0 pt-0">
                <form id="addYearForm">
                    <div class="year-date-container mt-2 w-100">
                        <input type="text" id="academicYear" name="academic_year" class="text-center p-2 ps-3 w-100"
                            placeholder="Academic Year (Start Year Only)" minlength="4" maxlength="4" required>
                    </div>
                    <div class="modal-footer border-top-0">
                        <button type="submit" class="btn btn-success btn-add-event-submit px-5">Add Year</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>