<div class="modal fade" id="deleteEventsModal" tabindex="-1" aria-labelledby="deleteEventsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-3">
            <div class="modal-header border-bottom-0 pb-2">
                <h1></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center mt-0 pt-0">
                <h1 id="eventNameToDelete" class="event-name-to-delete d-inline fw-bold fs-3 text-center">
                </h1>
                <h1 class="modal-title fw-bold fs-3" id="deleteEventsModalLabel">Delete Event</h1>
                <img src="../img/delete-warning.png" alt="Warning Icon">
                <h5 class="fw-bold mt-2" style="color:red;">Warning</h5>
                <p class="fst-italic">This will remove all existing records stored within the <span
                        class="event-name-to-delete fw-bold"></span>
                    the event page. Are you sure you wish to proceed?</p>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-edit-event-cancel" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger btn-delete-event-submit px-4">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>