<div class="modal fade" id="editEventsModal" tabindex="-1" aria-labelledby="editEventsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-3">
            <div class="modal-header border-bottom-0 pb-2">
                <h1 class="modal-title fw-bold fs-3 mt-1" id="editEventsModalLabel">Edit Event</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body mt-0 pt-0">
                <input type="hidden" id="editEventID" name="event_id">
                <input type="text" id="editEventNameInput" name="event_name"
                    class="event-name-input text-center p-2 ps-3 w-100" placeholder="Edit Event Name">
                <div class="event-date-container d-flex justify-content-between align-items-center mt-2 w-100">
                    <input type="date" id="editStartDateEvent" name="event_date_start"
                        class="event-date text-center p-2 ps-3 w-100" />
                    <p class="date-dash text-center pt-2 px-3">-</p>
                    <input type="date" id="editEndDateEvent" name="event_date_end"
                        class="event-date text-center p-2 ps-3 w-100" />
                </div>
            </div>
            <div class="modal-footer border-top-0 justify-content-between mt-2">
                <button class="btn btn-delete-event d-flex align-items-center px-3" data-bs-toggle="modal"
                    data-bs-target="#deleteEventsModal">
                    <img src="../img/delete.png" alt="Delete Icon" style="width: 0.9rem;">
                    <span class="ps-1" style="font-size: 0.9rem;">Delete Event</span>
                </button>
                <button type="submit" class="btn btn-success btn-edit-event-submit px-5">Save
                    Changes</button>
            </div>
        </div>
    </div>
</div>