<div class="points-container mt-3">
    <div class="card points-card">
        <div class="card-body points-card-body">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col d-flex flex-column align-items-center justify-content-center">
                    <span class="text-center fw-bold activity-subtotal-text">Activity<br>Subtotal</span>
                    <h3 class="fw-bold mt-2">
                        {{#if (or (eq currentPath '/spr-main') (eq currentPath '/spr-student'))}}
                        {{totalParticipationPoints}}
                        {{else}}
                        N/A
                        {{/if}}
                    </h3>
                </div>
                <div class="col-1 d-flex justify-content-center m-0 p-0">
                    <div class="vl"></div>
                </div>
                <div class="col d-flex flex-column align-items-center justify-content-center">
                    <span class="text-center fw-bold attendance-subtotal-text">Attendance<br>Subtotal</span>
                    <h3 class="fw-bold mt-2"> {{#if (or (eq currentPath '/spr-main') (eq currentPath '/spr-student'))}}
                        {{totalAttendancePoints}}
                        {{else}}
                        N/A
                        {{/if}}
                    </h3>
                </div>
            </div>
            {{#unless (eq currentPath '/spr-student')}}
            <div class="row">
                <button class="btn btn-success btn-verify-points w-75 m-auto mt-1">Verify
                    Points</button>
            </div>
            {{/unless}}
        </div>
    </div>
</div>